<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FSTableRefresh.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A566FC571DEF04D100118778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A566FC6B1DEF04D200118778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A566FC761DEF04D200118778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
